.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-container {
  background-color: #eee;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: space-between;
}

.App-splitter {
  width: 0px;
  height: 100%;
  border-left: 1px inset #555;
  border-right: 1px inset #555;
}

.App-add-button {
  margin: 0px;
  top: auto;
  right: calc(30% + 50px);
  bottom: 20px;
  left: auto;
  position: fixed !important;
  z-index: 10;
}

.App-chart-area {
  width: 70%;
  height: 100%;
  overflow: auto;
}

.App-detail-area {
  width: 30%;
  padding: 0 10px;
  height: 100%;
}

.App-input-halfwidth-left {
  width: calc(50% - 5px);
  margin-right: 10px !important;
}

.App-input-halfwidth-right {
  width: calc(50% - 5px);
}

.App-save-button-container {
  margin-top: 10px;
  text-align: right;
}